*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
h1, h2, h3, h4{
    font-family: "Signika";
    color:#3B5065;
    font-weight: 400;
}
.main{
    width: 1511px; /*1477*/
    height: 1715px;
    background-color: #EAEDF1;
    color:#3B5065;
    font-family: "Lato";
    margin: auto;
    margin-top: 0;
    padding: 81px;
    padding-top: 85px;
    padding-bottom: 0;
}
.header{
    display: flex;
    width: 100%;
}
.header .user{
    display: flex;
    width: 545px;
    height: 296px;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin-right: 185px;
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 0%;
}
.header .user .info-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 208px;
}
.header .user .info-cont .user-photo{
    float: right;
    margin-right: 30px;
    align-self: center;
    margin-left: 16px;
    margin-top: -20px;
    margin-bottom: 20px;
}
.header .user .info-cont .user-photo img{
    width: 150px;
    height: 150px;   
}
.header .user .info-cont .user-name{
    float: left;
    align-self: center;
    margin-top: -50px;
    margin-right: 20px;
    padding-left: 10px;
    letter-spacing: -0.8px;

}
.header .user .info-cont .user-name .name, .place{
    margin: 0;
}
.header .user .info-cont .user-name .name{
    word-wrap: none;
    margin-top: 2px;
}
.header .user .info-cont .user-name .place{
    font-size: 18px;
    margin-top: 3px;
}
.header .user .user-info{
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: -16px;
}
.header .user .user-info .info{
    height: 77px;
    align-self: stretch;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding-top: 23px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.header .user .user-info .age{
    background:#16C4EC url(../styles/age.png) no-repeat center 15px;
}
.header .user .user-info .lang{
    background:#FA5351 url(../styles/lang.png) no-repeat 40px 13px;
}
.header .user .user-info .drive{
    background:#10CDC1 url(../styles/car.png) no-repeat 40px 14px;
}
.header .user .user-info .addictions{
    background:#33495F url(../styles/addict.png) no-repeat 40px 15px;
}

.header .position-info{
    display: flex;
    flex-direction: column;
    width: 1036px;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding-top: 23px;
    margin-left: -98px;
}
.header .position-info .description-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.header .position-info .description-wrapper .position{
    width: 54%;
    word-spacing: 0.2em;
}
.header .position-info .description-wrapper .position-name{
    padding-left: 32px;
    margin-top: 18px;
    margin-bottom: 0;
    width: 57%;
    letter-spacing: -0.5px;
    font-size: 40px;
}
.header .position-info .description-wrapper .position .description{
    padding-left: 35px;
    margin-top: 12px;
    font-size: 18px;
    line-height: 29px;
    text-align: justify;
    /* letter-spacing: -0.1ex;  помогло выровнять название, 
    не помогает выровнять описание, что туда не подставляй*/
}
.header .position-info .description-wrapper .position .description a{
    color: #40CBEF;
}
.header .position-info .description-wrapper .contacts{
    font-size: 22px;
    margin-left: 69px;
    margin-top: -7px;
    font-family: "Signika";
}
.header .position-info .description-wrapper .contacts p:nth-child(2){
    margin-top: -1px;
    text-align: justify;
    letter-spacing: 0.1em;
    line-height: 1;
    margin-bottom: 35px;
}
.header .position-info .description-wrapper .contacts p:nth-child(2) a{
    color: #FA5654;#33495F
}
.header .position-info .description-wrapper .contacts p:nth-child(1) a{
    color: #33495F;
}
.header .position-info .description-wrapper .contacts hr{
    background-color: #A6AFB9;
}
.header .position-info .social-buttons{
    margin-left: 30px;
    margin-top: 5px; 
    display: flex;
}
.header .position-info .social-buttons .social{
    margin-left: 40px;
}
.header .position-info .social-buttons .social:nth-child(2){
    margin-left: 41px;
}
.header .position-info .social-buttons .social:nth-child(3){
    margin-left: 47px;
}
.header .position-info .social-buttons .social:nth-child(4){
    margin-left: 46px;
}
.header .position-info .social-buttons .social:nth-child(5){
    margin-left: 44px;
}
 .header .position-info .social-buttons .social:first-child{
    margin-left: -2px;
 }
.header .position-info .social-buttons .social img{
    width: 30px;
    height: 30px;
}

.grid{
    margin-top: 20px;
    padding-top: 10px;
    width: 1350px;/*1080*/
    height: 1040px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid .left-sidebar,
.grid .right-sidebar{
    display: flex;
    flex-direction: column;
}
.grid .left-sidebar .workplace{
    width: 635px;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 3px;
    background-color: #ffffff;
    padding-bottom: 13px; 
    margin-top: 1px;  
    padding-top: 2px; 
    margin-bottom: 10px;
}
.grid .left-sidebar .workplace .workplace-header{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 25px;
    margin-top: 8px;
    letter-spacing: 0.5px;
}
.grid .left-sidebar .workplace .workplace-header .workplace-desc{
    font-size: 18px;
    color: #A0A9B6;
    margin-left: 13px;
    letter-spacing: 0.3px;
}
.grid .left-sidebar .workplace .workplace-header .workplace-position{
    width: 100%;
    font-size: 21px;
    color: #11BFAA;
    font-family: "Signika";
    margin-left: -2px;
    margin-top: -25px;
}
.grid .left-sidebar .container:nth-child(2) .workplace{
    height: 325px;
}
.grid .left-sidebar .container:nth-child(3) .workplace{
    height: 167px;
}
.grid .left-sidebar .container:nth-child(4) .workplace{
    height: 170px;
    margin-top: 6px;
}
.grid .left-sidebar .container:nth-child(2) .workplace .workplace-header .workplace-position{
    margin-top: -45px;
}
.grid .left-sidebar .container:nth-child(3) .workplace .workplace-header{
    margin-top: 9px;
}
.grid .left-sidebar .container:nth-child(4) .workplace .workplace-header{
    margin-top: 9px;
}
.grid .left-sidebar .workplace .duties-list{
    margin-top: 11px;
    list-style-image: url("../styles/check.png");
    font-size: 16px;
    line-height: 32px;
    margin-left: 10px;
}
.grid .left-sidebar .workplace .duties-list ul li{
    margin-left: 5px;
    margin-bottom: 1px;
}
.grid .left-sidebar .container:nth-child(2) .workplace .duties-list ul li{
    margin-top: -14px;
    margin-left: 5px;
    margin-bottom: 15px;
}
.grid .left-sidebar .workplace .information{
    display: flex;
    flex-wrap: nowrap;
    font-size: 15px;
    margin-left: 28px;
    margin-top: 31px;
    color: #9EA7B4;
}
.grid .left-sidebar .container:nth-child(2) .workplace .information{
    margin-left: 30px;
    margin-top: 30px;
}
.grid .left-sidebar .container:nth-child(3) .workplace .information{
    margin-left: 27px;
    margin-top: 35px;
}
.grid .left-sidebar .container:nth-child(4) .workplace .information{
    margin-left: 28px;
    margin-top: 28px;
}
.grid .left-sidebar .workplace .information .info-place{
    display: flex;
    margin-top: -8px;
}
.grid .left-sidebar .workplace .information .info-place img{
    height: 16px;
    margin-top: 6px;
}
.grid .left-sidebar .workplace .information .info-place p{
    margin-top: 6px;
    margin-left: 4px;
}
.grid .left-sidebar .container:nth-child(4) .workplace .information .info-place{
    margin-top: -1px;
}
.grid .left-sidebar .workplace .information .info-time{
    display: flex;
    margin-left: 59px;
    margin-top: 1px;
}
.grid .left-sidebar .container:nth-child(2) .workplace .information .info-time{
    margin-left: 50px;
}
.grid .left-sidebar .container:nth-child(4) .workplace .information .info-time{
    margin-left: 79px;
    margin-top: 8px;
}
.grid .left-sidebar .workplace .information .info-time img{
    height: 15px;
    margin-top: -1px;
}
.grid .left-sidebar .workplace .information .info-time p{
    margin-top: -3px;
    margin-left: 4px;
}
.grid .left-sidebar .container:nth-child(2) .workplace .information .info-time p{
    margin-top: -3px;
    margin-left: 15px;
}
.grid .left-sidebar .workplace .information .button{
    height: 38px;
    width: 218px;
    border-radius: 3px;
    text-align: center;
    font-family: "Signika";
    font-size: 17px;
    margin-left: 85px;
    margin-top: -10px;
    padding-top: 8px;
    background-color: #16C4EC;
    color: #ffffff;
}
.grid .left-sidebar .workplace-2 .information .button{
    margin-left: 95px;
    margin-top: -11px;
}
.grid .left-sidebar .workplace-3 .information .button,
.grid .left-sidebar .workplace-4 .information .button{
    background-color: #B0BBCA;
}
.grid .left-sidebar .workplace-3 .information .button{
    margin-left: 80px;
    margin-top: -10px;
}
.grid .left-sidebar .workplace-4 .information .button{
    margin-left: 63px;
    margin-top: -7px;
}

.grid  .timeline {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 1200px;
    width: 100%;
}
.grid .timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 1150px;
    background-color: #DBE1E8;
    top: 0;
    bottom: 110px;
    left: 677px;
    margin-left: -3px;
}
.grid .timeline .container {
    position: relative;
    background-color: inherit;
    margin-bottom: 20px;
}
.grid .timeline .container::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    left: 668px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}
.grid .timeline .container.left:nth-child(1)::after {
    top: 165px;
}
.grid .timeline .container.left:nth-child(2)::after {
    top: 157px;
}
.grid .timeline .container.left:nth-child(3)::after {
    top: 80px;
}
.grid .timeline .container.left:nth-child(4)::after {
    top: 80px;
}
.grid .timeline .container.right::after {
    left: -47px;
    background-color:#DBE1E8;
}
.grid .timeline .container.right:nth-child(1)::after {
    top: 265px;
    left: -57px;
}
.grid .timeline .container.right:nth-child(2)::after {
    left: -57px;
    top: 265px;
}
.grid .timeline .studyplaces .container.right:nth-child(1)::after {
    left: 33px;
    top: 225px;
}
.grid .timeline .studyplaces .container.right:nth-child(2)::after {
    left: 33px;
    top: 281px;
}

.grid .right-sidebar{
    width: 50px;
}
.grid .right-sidebar .workplace{
    width: 623px;
    height: 173px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: #DBE1E8;
    /* margin-left: 18px */
}
.grid .right-sidebar .container:not(:first-child){
    margin-top: 32px;       
}
.grid .right-sidebar .workplace .workplace-header{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 22px;
    margin-top: 10px;
}
.grid .right-sidebar .workplace .workplace-header .workplace-desc{
    font-size: 15px;
    color: #A0A9B6;
    margin-left: 10px;
}
.grid .right-sidebar .workplace .workplace-header .workplace-position{
    width: 100%;
    color: #16C4EC;
    font-family: "Signika";
    margin-left: 0px;
    margin-top: -50px;
    font-size: 18px;
    position: relative;
    top: -2px;
}
.grid .right-sidebar .workplace .information{
    display: flex;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 35px;
    color: #33495F;
}
.grid .right-sidebar .workplace .information .info-place{
    display: flex;
    margin-top: -8px;
}
.grid .right-sidebar .workplace .information .info-place img{
    height: 15px;
    margin-top: 8px;
}
.grid .right-sidebar .workplace .information .info-place p{
    margin-top: 10px;
    margin-left: 4px;
}
.grid .right-sidebar .workplace .information .info-time{
    display: flex;
    margin-left: 68px;
}
.grid .right-sidebar .workplace .information .info-time img{
    height: 15px;
    margin-top: 2px;
}
.grid .right-sidebar .workplace .information .info-time p{
    margin-top: 2px;
    margin-left: 3px;
}
.grid .right-sidebar .workplace .information .button{
    height: 38px;
    width: 220px;
    border-radius: 3px;
    text-align: center;
    font-family: "Signika";
    font-size: 16px;
    margin-left: 85px;
    margin-top: -9px;
    padding-top: 6px;
    padding-right: 5px;
    text-align: center;
    background-color: #11BFAA;
    color: #ffffff;
}
.grid .right-sidebar .workplace-6 .information .button{
    margin-left: 79px;
    margin-top: -11px;
}
.grid .right-sidebar .border-container{
    width: 623px;
    margin-left: 90px;
    padding-left: 0px;
    padding-bottom: 9px;
    border-bottom: 3px dotted #C5CDD7;
}

.grid .right-sidebar .studyplace{
    width: 623px;
    height: 129px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: #DBE1E8;
    padding-bottom: 1px;
    margin-left: 89px;
    margin-top: 34px;
}
.grid .right-sidebar .studyplace .studyplace-header{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
    top: 8px;
    left: 22px;
}
.grid .right-sidebar .studyplace-2 .studyplace-header{
    position: relative;
    top: 5px;
    left: 20px;
}
.grid .right-sidebar .studyplace .studyplace-header .studyplace-desc{
    font-size: 15px;
    color: #A0A9B6;
    margin-left: 5px;
    padding-top: -50px;
}
.grid .right-sidebar .studyplace .studyplace-header .studyplace-position{
    width: 100%;
    color: #11BFAA;
    font-family: "Signika";
    margin-left: -2px;
    margin-top: -40px;
    font-size: 18px;
    position: relative;
    top: -1px;
}
.grid .right-sidebar .studyplace .information{
    display: flex;
    font-size: 13px;
    margin-left: 25px;
    margin-top: 15px;
    color: #33495F;
}
.grid .right-sidebar .studyplace .information .info-place{
    display: flex;
    margin-top: -8px;
}
.grid .right-sidebar .studyplace-1 .information .info-place{
    margin-top: -2px;
}
.grid .right-sidebar .studyplace .information .info-place img{
    height: 15px;
    margin-top: 7px;
    margin-left: -5px;
}
.grid .right-sidebar .studyplace .information .info-place p{
    margin-top: 10px;
    margin-left: 6px;
}
.grid .right-sidebar .studyplace .information .info-time{
    display: flex;
    margin-left: 68px;
    /* position: relative;
    top: px; */
}
.grid .right-sidebar .studyplace .information .info-time img{
    height: 15px;
    margin-top: 6px;
}
.grid .right-sidebar .studyplace .information .info-time p{
    margin-top: 6px;
    margin-left: 7px;
}
.grid .right-sidebar .studyplace .information .stars{
    display: flex;
    margin-left: 206px;
    margin-top: 8px;
}
.grid .right-sidebar .studyplace-2 .information .stars{
    display: flex;
    margin-left: 206px;
    margin-top: 2px;
}
.grid .right-sidebar .studyplace .information .stars img{
    height: 17px;
    margin-left: 3px;
}
.grid .right-sidebar .container:nth-child(2) .studyplace .information .info-time{
    margin-left: 48px;
    margin-top: -5px;
}

.hobbies{
    width: 626px;
    height: 400px;
    margin-top: -20px;
    margin-left: 86px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    padding-top: 14px;
    padding-left: 7px;
    padding-right: 9px;
}
.hobbies .hobbies-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hobbies .hobbies-wrapper .hobby{
    text-align: center;
    position: relative;
}
.hobbies .hobbies-wrapper .hobby img{
    width: 80px;
    /* height: 63px; */
}
.hobbies .hobbies-wrapper .hobby:nth-child(1){
    left: 2px;
    top: 0px;
}
.hobbies .hobbies-wrapper .hobby:nth-child(2){
    left: 5px;
    top: 0px;
}
.hobbies .hobbies-wrapper .hobby:nth-child(3){
    left: 7px;
    top: -1px;
}
.hobbies .hobbies-wrapper .hobby:nth-child(4){
    left: 8px;
    top: 0px;
}
.hobbies .hobbies-wrapper .hobby:nth-child(5){
    left: 7px;
    top: 0px;
}
.hobbies .hobbies-wrapper .hobby:nth-child(6){
    left: 6px;
    top: 0px;
}
.hobbies .hobbies-wrapper .hobby p{
    font-size: 13px;
    position: relative;
    top: -5px;
}
.grid .timeline .container.right:nth-child(3)::after {
    left: 33px;
    top: 260px;
}

.skills-wrapper{
    display: flex;
    padding-left: 15px;
}
.skills-wrapper .skills{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 13px;
    padding-bottom: 30px;
}
.skills-wrapper .skills-left .skill{
    padding-top: 25px;
    font-size: 16px;
}
.skills-wrapper .skills-left .skill:not(:first-child){
    padding-top: 16px;
}
.skills-wrapper .skills-left .skill-progress progress {
    border: 0;
    height: 15px;
    width: 269px;
    border-radius: 9px;
}
.skills-wrapper .skills-left .skill-progress progress::-webkit-progress-bar {
    background-color: #DBE1E8;
    border-radius: 9px;
}
.skills-wrapper .skills-left .skill-progress progress::-webkit-progress-value {
    background-color: #10CDC1;
    border-radius: 9px 0 0 9px;
}
  
.skills-wrapper .skills-right{
    padding-left: 24px;
    padding-top: 2px;
}
.skills-wrapper .skills-right .skill{
    padding-top: 23px;
    font-size: 16px;
}
.skills-wrapper .skill-label{
    padding-top: 0px;
    position: relative;
    top: 1px;
    left: 3px;
}
.skills-wrapper .skills-right .skill:not(:first-child){
    padding-top: 16px;
}
.skills-wrapper .skills-right .skill-progress progress {
    border: 0;
    height: 15px;
    width: 269px;
    border-radius: 9px;
}
.skills-wrapper .skills-right .skill-progress progress::-webkit-progress-bar {
    background-color: #DBE1E8;
    border-radius: 9px;
}
.skills-wrapper .skills-right .skill-progress progress::-webkit-progress-value {
    background-color: #16C4EC;
    border-radius: 9px 0 0 9px;
}

.skills-wrapper .skills-left .skill-1 .skill-progress::before {
    content: '';
    left: 318px; 
    top: 156px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 5px;
    border-color:  #34495E transparent transparent transparent;
    position: absolute;
}
.skills-wrapper .skills-left .skill-1 .skill-progress::after {
    content: '80%';
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
    left: 305px; 
    top: 140px;
    width: 37px; height: 16px;
    border-radius: 4px;
    background-color:  #34495e;
    color: #ffffff;
    position: absolute;
}
.skills-wrapper .skills-left .skill-2 .skill-progress::before {
    content: '';
    left: 245px; 
    top: 209px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 5px;
    border-color:  #34495E transparent transparent transparent;
    position: absolute;
}
.skills-wrapper .skills-left .skill-2 .skill-progress::after {
    content: '55%';
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
    left: 231px; 
    top: 193px;
    width: 37px; height: 16px;
    border-radius: 4px;
    background-color:  #34495e;
    color: #ffffff;
    position: absolute;
}
.skills-wrapper .skills-left .skill-3 .skill-progress::before {
    content: '';
    left: 354px; 
    top: 265px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 5px;
    border-color:  #34495E transparent transparent transparent;
    position: absolute;
}
.skills-wrapper .skills-left .skill-3 .skill-progress::after {
    content: '95%';
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
    left: 340px; 
    top: 250px;
    width: 37px; height: 16px;
    border-radius: 4px;
    background-color:  #34495e;
    color: #ffffff;
    position: absolute;
}
.skills-wrapper .skills-left .skill-4 .skill-progress::before {
    content: '';
    left: 330px; 
    top: 320px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 5px;
    border-color:  #34495E transparent transparent transparent;
    position: absolute;
}
.skills-wrapper .skills-left .skill-4 .skill-progress::after {
    content: '85%';
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
    left: 315px; 
    top: 303px;
    width: 37px; height: 16px;
    border-radius: 4px;
    background-color:  #34495e;
    color: #ffffff;
    position: absolute;
}

.skills-wrapper .skills-right .skill-1 .skill-progress::before {
    content: '';
    left: 613px; 
    top: 156px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 5px;
    border-color:  #34495E transparent transparent transparent;
    position: absolute;
}
.skills-wrapper .skills-right .skill-1 .skill-progress::after {
    content: '60%';
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
    left: 600px; 
    top: 139px;
    width: 37px; height: 16px;
    border-radius: 4px;
    background-color:  #34495e;
    color: #ffffff;
    position: absolute;
}
.skills-wrapper .skills-right .skill-2 .skill-progress::before {
    content: '';
    left: 630px; 
    top: 210px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 5px;
    border-color:  #34495E transparent transparent transparent;
    position: absolute;
}
.skills-wrapper .skills-right .skill-2 .skill-progress::after {
    content: '75%';
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
    left: 617px; 
    top: 193px;
    width: 37px; height: 16px;
    border-radius: 4px;
    background-color:  #34495e;
    color: #ffffff;
    position: absolute;
}
.skills-wrapper .skills-right .skill-3 .skill-progress::before {
    content: '';
    left: 580px; 
    top: 265px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 5px;
    border-color:  #34495E transparent transparent transparent;
    position: absolute;
}
.skills-wrapper .skills-right .skill-3 .skill-progress::after {
    content: '55%';
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
    left: 566px; 
    top: 250px;
    width: 37px; height: 16px;
    border-radius: 4px;
    background-color:  #34495e;
    color: #ffffff;
    position: absolute;
}
.skills-wrapper .skills-right .skill-4 .skill-progress::before {
    content: '';
    left: 613px; 
    top: 321px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 5px;
    border-color:  #34495E transparent transparent transparent;
    position: absolute;
}
.skills-wrapper .skills-right .skill-4 .skill-progress::after {
    content: '60%';
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
    left: 600px; 
    top: 303px;
    width: 37px; height: 16px;
    border-radius: 4px;
    background-color:  #34495e;
    color: #ffffff;
    position: absolute;
}

.cite{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-top: -32px;
    padding-left: 373px;
}
.cite .text{
    font-style: oblique;
    font-size: 18px;
    margin-top: 0px;
    padding-top: 75px;
    padding-left: 0px;
    padding-right: 0px;
}
.cite .quote{
    color: #CED4DD;
    font-size: 160px;
    font-family: "Lateef", cursive;
    letter-spacing: 0px;
}


.grid .timeline .cite::after {
    content: '2004';
    position: absolute;
    text-align: center;
    padding-top: 3px;
    width: 71px;
    height: 31px;
    background-color: #DBE1E8;
    border-radius: 3px;
    bottom:30px;
    left: 644px;
    margin-left: -3px;
    z-index: 2;
    font-size: 20px;
    color: #ffffff;
}

@font-face{
    font-family: "Lato"; 
    src: url("../styles/fonts/Lato/Lato-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }
@font-face{
    font-family: "Signika"; 
    src: url("../styles/fonts/Signika/Signika-VariableFont_wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
@font-face{
    font-family: "Signika-Negative"; 
    src: url("../styles/fonts/Signika_Negative/SignikaNegative-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 